.drawer-content {
  padding-left: 7px;
  background-color: #99ffff;
}
.last-part button {
  width: auto;
  height: 110px;
  margin-bottom: 10px;
  padding: 11px 21px 6px 21px;
  font-size: .5em;
  line-height: 1;
  font-weight: bold;
}
.last-part {
  padding-right: 85px;
}
